@use '../../css/theme';


header { 
    display: grid;
    margin-top: 1.25em; padding: 1.5em 3em;
    width: calc(100% - 6em); max-width: 100em;
    background: rgba(theme.$bg, .5); backdrop-filter: blur(1em);
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    border-radius: 8em;
    overflow: hidden;
    z-index: 2;

    & > a > img {
        height: 2em;
    }

    & > .buttons {
        a {
            padding: .5em 1em;
            cursor: pointer;
            transition: .3s background;
            font-size: 1.125em; text-decoration: none;
            color: theme.$fg;
            
            &:hover { background: theme.$bg; }
        }
    }

    .rigth-button button {
        display: block;
        margin-left: auto;
    }
}


@media (max-width: 67.5rem) {
    .wide-screen-button { display: none; }
}

@media (max-width: 18.5rem) {
    .rigth-button { display: none; }
}

@media (max-width: 60rem) {
    header {
        display: flex;
        margin: 0; width: 100%;
        border: none !important; border-radius: 0;
        justify-content: space-between; align-items: center;
    }
}

@media (max-width: 50rem) {
    .buttons { display: none }
}

@media (max-width: 24rem) {
    header { font-size: .8em; }
}
