@use 'theme';
@use 'sass:color';



button {
    padding: .5em 1em;
    background: theme.$bg2; color: theme.$fg;
    border: none;
    cursor: pointer;
    transition: .3s background;

    &:hover {
        background: color.adjust($color: theme.$bg2, $lightness: 5%);
    }
}

h2 {
    margin: 0;
    font-size: 3em; font-weight: bold;
}
