.footer {
    display: flex;
    padding: 3em;
    flex-direction: column; align-items: center; gap: 2em;

    & > img {
        width: 20em;
    }

    & > div {
        display: flex;
        gap: 2em;

        & > * { font-size: 1.5em; height: 1em; }

        & > a {
            color: #fff;
            & > i {
                cursor: pointer;
            }
            & > svg {
                cursor: pointer;
                width: 1em; height: 1em;
            }
        }
    }
}


@media (max-width: 450px) {
    .footer {
        & > img {
            font-size: .8em;
        }
    }
}
