@use '../../css/theme.scss';


footer {
    display: flex;
    padding: 3em 3em 0;
    flex-direction: column; align-items: center; gap: 2em;

    & > img {
        width: min(20em, 100%);
    }

    & .links {
        display: flex;
        justify-content: center; gap: 2em;
        flex-wrap: wrap;

        & > * { font-size: 1.5em; height: 1em; }

        & > a {
            color: #fff;

            & > i { cursor: pointer; }
            & > svg {
                cursor: pointer;
                width: 1em; height: 1em;
            }
        }
    }

    & .footer {
        display: flex;
        padding: 1em .5em 2em;
        width: 100%; max-width: 80em;
        border-top: .25em solid theme.$bg2;
        justify-content: space-between; gap: 2em;

        & * { opacity: .75; }

        & div {
            display: flex;
            gap: 1em;

            a {
                color: theme.$fg;
                font-weight: bold;
                text-align: center;
            }
        }
    }
}


@media (max-width: 34rem) {
    .source { display: none; }
}

@media (max-width: 28.125rem) {
    .footer {
      & > img { font-size: .8em; }
    }
}

@media (max-width: 21rem) {
    .mit-license { display: none; }
}
