body {
    margin: 0;
}

main {
    width: 100dvw; height: 100dvh;
    scroll-snap-type: y mandatory;
    overflow: auto;
    
    & > div {
        min-height: 100dvh;
        scroll-snap-align: start;
    }
}
