@use '../../css/theme.scss';


.details {
    display: flex;
    margin: auto; padding: 2em; max-width: 1280px;
    position: relative;
    background-image: radial-gradient(ellipse at top, theme.$bg2, transparent 50%);
    background-size: 100% 50%; background-repeat: no-repeat;
    align-items: center; gap: 1em;
}

.img {
    width: 24em; height: 24em;
    object-fit: cover;
}

.texts {
    display: flex;
    flex-direction: column; justify-content: center;

    & h2 {
        margin-bottom: .75em;
    }

    & div { 
        font-size: 1.25em;
        line-height: 1.5;
        opacity: .75; 
    }
}

.background-tiles {
    width: 80%; height: 60%;
    position: absolute; top: 0; left: 0;
    z-index: -1;

    background-image: linear-gradient(-90deg, theme.$bg, transparent 16em),
        linear-gradient(0deg, theme.$bg, transparent 16em),
        repeating-linear-gradient(
            theme.$bg2,
            theme.$bg2 .05em,
            transparent .05em,
            transparent 3em,
        ), repeating-linear-gradient(
            90deg,
            theme.$bg2,
            theme.$bg2 .05em,
            transparent .05em,
            transparent 3em,
        );
}


@media (max-width: 54rem) {
    .img { display: none }
}
