.faq {
    display: flex;
    position: relative;
    flex-direction: column; gap: 2em;
    justify-content: space-between;
    overflow: hidden;

    & > div {
        display: flex;
        padding-top: 1em;
        flex-direction: column; align-items: center; gap: 1em;

        & > h2 {
            padding: .25em 1em .5em;
            text-align: center;
        }
    }
}

.questions {
    display: flex;
    width: 100%;
    flex-direction: column; gap: 1.25em;
}

.glow1,
.glow2 {
    width: 120em; height: 48em;
    position: absolute;
    bottom: -24em; right: -44em;
    position: absolute;
    rotate: 80deg;
    z-index: -1;
}

.glow2 {
    bottom: -36em; left: -48em; right: unset;
    rotate: -30deg;
}
